.wrapper {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  border-bottom: 0.5px solid rgb(235, 235, 235);
  height: 5rem;
}
.navbar h1 {
  margin: 0;
}
.navbarList {
  display: flex;
  align-items: center;
  gap: 20px;
}
.searchDiv {
  display: flex;
  align-items: center;
  background-color: rgb(238, 239, 247);
  border-radius: 12px;
  padding: 0.2rem 1rem;
  height: 3rem;
  width: 11rem;
  gap: 10px;
}
.searchDiv input {
  width: 100%;
  background-color: rgb(238, 239, 247);
}
.imgSizing {
  height: 1.5rem;
  width: 1.5rem;
}
.hamburger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .imgSizing {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .searchDiv {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .navbar h1 {
    font-size: 18px;
  }
}
